body {
	background-color: lightgray;
}

.welcome {
	padding: 50px;
	text-align: center;
}

.inputs-area {
	display: flex;
}

.result {
	text-align: center;
}

.button {
	display: flex;
	margin: auto;
}

.test-status-message {
	font-size: 26px;
	font-weight: 800;
	text-align: center;
}

#lineChart {
	margin: 100px;
}

#pieChart {
	height: 20px;
	margin-left: 200px;
	margin-right: 500px;
}