body {
	background-color: lightgray;
	font-family: sans-serif;
}

input[type=text] {
	box-sizing: border-box;
	width: 100%;
	padding: 10px;
	border: 1px solid #cacaca;
	margin: 10px 0;
	font-size: 20px;
	box-shadow: inset 0 1px 2px rgba(10, 10, 10, 0.1);
	transition: box-shadow .5s,border-color .25s ease-in-out;
}

.welcome {
	padding: 50px;
	text-align: center;
}

.inputs-area {
	display: flex;
	justify-content: center;

}

.result {
	text-align: center;
}

.go {
	background-color: #3adb76;
	color: #fff;
	display: flex;
	margin: auto;
	transition: background-color .25s ease-out,color .25s ease-out;
	border: 1px solid transparent;
	cursor: pointer;
	padding: 10px 30px;
	line-height: 30px;
	font-size: 20px;

	&:hover {
		background-color: #22bb5b;
	}
}

.url-input-component {
	flex-basis: 40%;
}

.test-status-message {
	font-size: 26px;
	font-weight: 800;
	margin: 20px;
	text-align: center;
}

#lineChart {
	margin: 100px;
}

#pieChart {
	display: block;
	margin: auto;
}